<!DOCTYPE html>
<html>
    <head>
        <!--Fonts-->
        <link rel="stylesheet" href="../static/css/main-page.css">
        <link rel="stylesheet" href="../static/css/result-page.css">

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="../static/javascript/main-page.js"></script>
        <script src="../static/javascript/get-location.js"></script>

        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

        <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="main-page">

        </div>
    </body>
</html>